footer {
  background-color: rgb(30, 111, 95);
  color: #fff;
  padding: 24px;
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color:  rgb(136, 172, 204);
}

@media screen and (max-width: 768px){
  .footerStyles {
    font-size:0.8rem !important;
  }
}
@media screen and (max-width: 320px){
  .footerStyles {
    font-size:0.7rem !important;
  }
}